.wordStay{
    color: #3252DF;
}
.ConStay{
    font-weight: 500 !important;

}

.wordLogin{
    font-weight: 600 !important;

}

.imgRe{
    width: 100%;
    height: 740px;
}

.textField{
    width: 100% !important;


} 