.ConStay{
    font-weight: 500 !important;

}

.wordLogin{
    font-weight: 600 !important;

}

.imgRe{
    width: 100%;
    height: 100%;
}

.textField{
    width: 100% !important;


} 

.marginTop{
    margin-top: 6rem;
}