.auth-cotainer{
    background-image: url(./assets/images/bg3.png);
    background-size: cover;
    background-position: center center;
}

.login-container{
    background-color: #3f5e58;
}


/* TablePagination in Room */

.css-levciy-MuiTablePagination-displayedRows , .css-pdct74-MuiTablePagination-selectLabel {
    margin-top: 0.8rem;
}