.auth-cotainer{
    background-image: url(./assets/images/bg3.png);
    background-size: cover;
    background-position: center center;
}

.login-container{
    background-color: #3f5e58;
}


/* register */
/* .css-batk84-MuiInputBase-root-MuiFilledInput-root::after {


    border-bottom: 2px solid #3252DF;
} */
.custum-file-upload {
    height: 70px;
    /* width: 300px; */
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 1px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
    width: 100%;
    background-color: #6de2a6;
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 40px;
    fill: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 300;
    color: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload input {
    display: none;
  }