







.nav{
    background-color: #ffffff !important; 
    /* padding: 0  0  0  50px !important; */
    box-shadow: none !important;
}

.logo{
    color: rgb(0, 0, 0);
}
.hlogo{
    color: rgb(102, 102, 246);
    margin-top: 10px;

}

.avatar:hover{
background-color: inherit !important;
}


.bottom{
    /* background-color: rgb(61, 10, 229) !important; */
    padding: 20px;
    margin:0% 15px !important;
    width: 200px;
    color: #e01010 !important;
}

@media (max-width: 760px) {
    .linkStyle {
      margin: 5px;
    }
    .bottom{
        margin: 0 5px !important;
        padding: 5px !important;
    }
    .logoimg{
        /* display: none; */
        width: 50px !important;
    }
  
  } 
/* .logoimg{
    display: none !important;
} */